# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
connexion.php
views/www/views/logout.php
views/www/views/layout.php
views/www/models/logout.php
views/www/js/wow.min.js
views/www/js/jquery.singlePageNav.min.js
*.jpg
views/www/images/html_css.png
*.png
views/www/images/mail.jpeg
images/controllers/annulation.php
images/css/style.css
*.css
views/www/js/jquery.js
views/www/js/bootstrap.min.js
*.js
views/www/views/historique.php
views/www/models/historique.php
images/controllers/logout.php
images/fonts/fontawesome-webfont.eot
images/fonts/fontawesome-webfont.svg
*.ttf
images/fonts/fontawesome-webfont.woff
*.otf
images/fonts/fontawesome-webfont.woff2
